.margin{
    margin:0 auto;
}
.header{
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #ED4C5C;
}
.div1{
    float:left;
    width:50% ;

}
.focus-money{
    position: absolute;
    width:445px;
    height: 107px;
    left: 165px;
    top: 122px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}
.text1{
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;
    font-family: 'Lato', sans-serif;
    src: url(Lato-Bold.ttf);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
}
.vector1{
    position: absolute;
    left: 168px;
    top: 359px;
}
.vector2{
    position: absolute;
    left: 220px;
    top:359px ;
}
.vector3{
    position: absolute;
    left:273px;
    top: 361px;
}
.vector4{
    position: absolute;
    left:168px;
    top:374px;
}
.vector5{
    position: absolute;
    left:166px;
    top:360px ;
}
.vector6{
    position: absolute;
    left:182px;
    top:368px;
}
.div2{
    float:right;
    width:50% ;
}
.photo1{
    position: absolute;
    width: 533px;
    height: 311px;
    left: 691px;
    top: 94px;
}
.main{
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 500px;
    background: #FFFFFF;
}
.div3{
    float:left;
    width:50% 
}
.contact{
    position: absolute;
    width: 445px;
    height: 107px;
    left: 176px;
    top: 117px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;   
}
.text2{
    position: absolute;
    width: 434px;
    height: 64px;
    left: 176px;
    top: 215px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}
.div4{
    float:right;
    width:50%  
}
.input1{
    position: absolute;
    width: 255px;
    height: 60px;
    left: 735px;
    top: 117px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
.input2{
    position: absolute;
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 117px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
.input3{
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 201px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
.input4{
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 285px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding-left: 31px;
}
.submit{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 735px;
    top: 372px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer{
    position: absolute;
    width: 1440px;
    height: 435px;
    left: 0px;
    top: 1045px;
    background: #FAFAFA;
    display: flex;
    flex-direction:row;
}
.address{
    position: absolute;
    width: 65px;
    height: 22px;
    left: 166px;
    top: 88px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}
.text3{
    position: absolute;
    width: 254px;
    height: 54px;
    left: 166px;
    top: 140px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.text4{
    position: absolute;
    width: 155px;
    height: 14px;
    left: 161px;
    top: 335px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}
.services{
    position: absolute;
    width: 67px;
    height: 22px;
    left: 450px;
    top: 85px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}
.text5{
    position: absolute;
    width: 254px;
    height: 114px;
    left: 450px;
    top: 140px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}
.get-in-touch{
    position: absolute;
    width: 101px;
    height: 22px;
    left: 734px;
    top: 85px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}
.text6{
    position: absolute;
    width: 122px;
    height: 14px;
    left: 734px;
    top: 140px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}
.text7{
    position: absolute;
    width: 96px;
    height: 14px;
    left: 734px;
    top: 165px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #121212;
}
.vector7{
    position: absolute;
    left:738px;
    top: 200px;
}
.vector8{
    position: absolute;
    left:761px;
    top: 205px;
}
.vector11{
    position: absolute;
    left:761px;
    top: 200px;
}
.vector9{
    position: absolute;
    left:766px;
    top:204px;
}
.vector10{
    position: absolute;
    left:787px;
    top:200px;
}
.support{
    position: absolute;
    width: 96px;
    height: 22px;
    left: 1022px;
    top: 85px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}
.cards{
    position: absolute;
    width: 216px;
    height: 31px;
    left: 1025px;
    top: 140px;
}
